@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  background: rgba(141,36,201,1);
  font-family: 'Oswald', sans-serif;
}

img
{
  max-width: 100%;
  display: block;
}

/* Header */
.header
{
  height: 70px;
  width: 100%;
  background-color: #29193B;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  font-size: 20px;
  position: fixed;
  z-index: 1;
}

.header a
{
  color: white;
  text-decoration: none;
}

.header button
{
  width: 10%;
  height: 60%;
  background-color: #29193B;
}

.burger
{
  display: block;
  background-color: #fff;
  margin-top: 5px;
  height: 4px;
  width: 30px;
  
  border-radius: 2px;
}

.searchHeader
{
  display: block;
  width: 100%;
  background-color: #8D56C9;
}

.inputStyles
{
  padding: 5px 15px;
  font-size: bold;
  font-size: 16px;
  background-color: #fff;
  width: 200px;
  min-height: 30px;
  border-radius: 20px 5px 5px 20px;
  border: 3px solid #8D56C9;
  position: relative;
}
.input-buttonStyles
{
  width: 30px;
  height: 35px;
  border: none;
  background-color: #8D24C9;
  color: white;
}

.buttonHeader
{
  padding: 5px;
  color: #fff;
}

/* Sub Header */
.subHeader
{
  height: 55px;
  width: 100%;
  background-color: #29193bd3;
  color: white;
  position: fixed;
  z-index: 1;
  top: 70px;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  align-items: center;
  font-size: 20px;
}

/* Main  */

.container
{
  padding-top:80px;
  background-color:#8D24C9;
  width: 100%;
  height: 100%;
}
.mainContainer
{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content:space-around;
  position: relative;
}

.stopScroll
{
  position: fixed;
}


/* card */
.card
{
  background-color: white;
  color: black;
  margin-top: 50px;
  width: 160px;
  height: 260px;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}

.image-section
{
 width: 100%;
 height: 70%;
}

.name-section
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
}

.name-section p
{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
  font-weight: bold;
}

.image-section img
{
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%; 
  object-fit: fill;
}


.score
{
  position: absolute;
  bottom: -25px;
  right: -10px;
  font-weight: bold;
  border-radius: 40px;
  padding: 10px 25px;
  background-color: #3d2558;
  color: white;
 
}

.place
{
  position: absolute;
  top:  -10px;
  left: -10px;
  font-weight: bold;
  border-radius: 15px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border: 1px solid grey;
  box-shadow: 0 5px 20px 5px #29193B;
}







.filter-bar
{
  width: 300px;
  z-index: 2;
  position: fixed;
  top: 70px;
  left: -100%;
  height: 100%;
  padding-block: 20px 150px;
  border-radius: 0 5px 5px 0;
  background-color: rgba(61, 37, 88, 1);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.navActive
{
  left: 0;
}

.filter-content
{
  height: 80px;
  width: 100%;
  font-size: 16px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 5px solid white;
  cursor: pointer;
  
}


.card-information
{
  background-color: #fff;
  max-width: 90%;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 2rem;
  border-radius: 20px;
  box-shadow: 10px 10px 30px 5px #29193B;
}

.info-img
{
  margin: auto;
  width: 60%;
  height: auto;
  margin-bottom: 1rem;
}

.card-info-headings
{
  margin-bottom: 0.8rem;
  text-align: center;
}

.japanese-name
{
  font-style: italic;
  font-weight: 400;
}


.card-grid-heading
{
  background-color: #29193B;
  color: white;
}

.card-info-grid
{
  display: grid;
  grid-template-areas: 
  "score rank pop"
  "score-num rank-num pop-num";
  row-gap: 0.5rem;
  margin-bottom: 1rem;
  flex-basis: 1 1;
  border-top: 3px solid rgb(136, 135, 135);
}

.card-info-grid-two
{
  display: grid;
  grid-template-areas: 
  "rating"
  "studio"
  "studio-names"
  "genres"
  "genres-names" ;
  row-gap: 0.4rem;
  border-top: 5px double rgb(136, 135, 135);
  margin-bottom: 1.2rem;
  padding-top: 0.5rem;
}

.card-info-syn
{
  border-top: 5px double rgb(136, 135, 135);
  padding-top: 0.5rem;
  padding: 1rem;
}

.card-info-rating
{
  grid-area: reating;
}

.card-info-studio
{
  grid-area: studio;
}

.card-info-studio-names
{
  grid-area: studio-names;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.card-info-genres
{
  grid-area: genres;
}

.card-info-genres-names
{
  grid-area: genres-names;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}




.card-info-pop
{
  grid-area: pop;
  text-align: center;
}

.card-info-score
{
  grid-area: score;
  text-align: center;
}

.card-info-rank
{
  grid-area: rank;
  text-align: center;
}

.card-info-pop-num
{
  grid-area: pop-num;
  text-align: center;
}

.card-info-score-num
{
  grid-area: score-num;
  text-align: center;
}

.card-info-rank-num
{
  grid-area: rank-num;
  text-align: center;
}

.card-info-button
{
  padding: 0.8rem;
  margin: auto;
  background-color: #8D24C9;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}

.button-box
{
  margin-block: 2rem;
  max-width: 40%;
  margin-inline: auto;
}

.card-info-text-style-one
{
  font-weight: bold;
}

.card-info-text-style-two
{
  color: rgb(136, 135, 135);
}

.card-info-text-style-three
{
  border: 2px solid  rgb(136, 135, 135);
  color: rgb(136, 135, 135);
  border-radius: 10px;
  padding: 0.2rem;
}



.buttons-page
{
  color: white;
  display: flex;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  height: 60px;
  background-color: #8D56C9;
  padding: 20px 10px;
  border-radius: 10px;
}

.buttons-page button
{
  background-color: #29193B;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.active
{
  background-color: #8D24C9;
  border-radius: 0 10px 10px 0;
}



.app-name
{
  font-size: 30px;
}



.card:hover
{
  transform: scale(1.05);

}

.loading-data
{
  color: #fff;
  margin: auto;
  max-width: 80%;
  text-align: center;
  margin-top: 40%;
  font-size: 3rem;
}

.genre-info
{
  background-color: #fff;
  border-radius: 20px;
  width: 45%;
  margin: auto;
  text-align: center;
}

@media only screen and (min-width: 500px ) {


  .mainContainer
  {
    gap: 10px;
  }

  .card
  {
    width: 200px;
    height: 300px;
  }

}

@media only screen and (min-width: 800px ) {


  .mainContainer
  {
    gap: 10px;
    width: 75%;
  }

  .filter-bar
  {
  width: 20%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  }

  .filter-content
{
  height: 100px;
  width: 100%;
  font-size: 20px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .container
{
  padding-top:80px;
  background-color:#8D24C9;
  width: 100%;
  height: 100%;
  display: flex;
}




}